.button {
  all: unset;
  align-items: center;
  border-radius: var(--size-radius-200);
  box-sizing: border-box;
  display: inline-flex;
  gap: var(--size-space-200);
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.button .text-wrapper {
  font-family: var(--single-line-body-base-font-family);
  font-size: var(--single-line-body-base-font-size);
  font-style: var(--single-line-body-base-font-style);
  font-weight: var(--single-line-body-base-font-weight);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button.disabled-true {
  border-color: var(--color-border-disabled-default);
}

.button.primary {
  background-color: var(--color-background-brand-default);
}

.button.disabled-true.subtle {
  background-color: var(--color-background-disabled-default);
}

.button.neutral.disabled-false {
  background-color: var(--color-background-neutral-tertiary);
}

.button.neutral.disabled-true {
  background-color: var(--color-background-disabled-default);
}

.button.neutral {
}

.button .disabled-0-true {
  color: var(--color-text-disabled-on-disabled);
}

.button .variant-subtle.medium.disabled-0-false {
  color: var(--color-text-neutral-default);
}

.button:hover {
  border: 1px solid;
  border-color: var(--color-border-default-default);
}

.button:hover .text-wrapper {
  color: red;
}

.button:hover.neutral {
  background-color: var(--color-background-neutral-tertiary-hover);
}

.button:hover.primary {
  background-color: var(--color-background-brand-hover);
}
